* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Euclid Square";
    src: url(../fonts/EuclidSquare-Regular.woff2) format("woff2"),
        url(../fonts/EuclidSquare-Regular.woff) format("woff"),
        url(../fonts/EuclidSquare-Regular.ttf) format("ttf"),
        url(../fonts/EuclidSquare-Regular.eot) format("eot");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Euclid Square";
    src: url(../fonts/EuclidSquare-Medium.woff2) format("woff2"),
        url(../fonts/EuclidSquare-Medium.woff) format("woff"),
        url(../fonts/EuclidSquare-Medium.ttf) format("ttf"),
        url(../fonts/EuclidSquare-Medium.eot) format("eot");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Euclid Square";
    src: url(../fonts/EuclidSquare-Bold.woff2) format("woff2"),
        url(../fonts/EuclidSquare-Bold.woff) format("woff"),
        url(../fonts/EuclidSquare-Bold.ttf) format("ttf"),
        url(../fonts/EuclidSquare-Bold.eot) format("eot");
    font-style: normal;
    font-weight: 700;
}

.txt-regular {
    font-family: "Euclid Square" !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.txt-medium {
    font-family: "Euclid Square" !important;
    font-weight: 500 !important;
    font-style: normal !important;
}

.txt-bold {
    font-family: "Euclid Square" !important;
    font-weight: 700 !important;
    font-style: normal !important;
}

button {
    border: none;
    outline: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

a {
    cursor: pointer;
    text-decoration: none;
}


.header {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;

    &-wrp {
        width: 100%;
        padding: 20px 0 0 0;
        margin: 0 0 152px 0;
    }

    &-item {
        &.logo-link {
            display: block;
            transition: all 0.15s ease 0s;

            &:hover {
                transform: translateY(-2px);
            }
        }

        &.logo-wrp {
            margin: 0 70px 0 0;
        }
    }

    &-mobile {
        &-btn {
            display: none;
            background-color: unset;
        }
    }

}

.mobileMenu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 20px;
    z-index: 10;

    &-logo {
        &-wrp {
            display: flex;
            height: 27px;
            justify-content: space-between;
            align-items: center;
        }
    }

    &-cross {
        width: 25px;
        height: 25px;
        background-color: unset;
    }

    &-navigation {
        padding: 2.3rem 0 10.3rem;

        &-list {
            list-style-type: none;

            &-item {
                padding: 1rem 15px 1rem 0;
                font-size: 20px !important;
                color: #000000 !important;

                &-checkbox {
                    display: none;

                    &:checked~.mobileMenu-navigation-sublist {
                        display: flex;
                    }

                    &:checked~.navigation-list-item-title-mobile-wrp svg {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        &-sublist {
            display: none;
            flex-direction: column;
            list-style-type: none;

            transform-origin: center top;
            transition: all 0.25s ease-in-out 0s;
            margin: 20px 0 0 23px;
            pointer-events: unset;
            opacity: 1;

            &-item {
                &-link {
                    color: #000000;
                    line-height: 2.5rem;
                    font-size: 16px;
                }
            }
        }
    }
}

.navigation {
    max-width: 793px;
    width: 100%;

    &-list {
        width: 100%;
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        transition: opacity 0.2s ease 0s;
        padding: 20px 0;

        &:hover &-item-link,
        &:hover &-item-txt {
            opacity: 0.33;
        }

        &-item {
            position: relative;


            &-menu {
                display: none;
                border: 1px solid #e2e2e2;
                border-radius: 8px;
                padding: 8px 50px 8px 22px;
                filter: drop-shadow(rgba(159, 159, 159, 0.18) 0px 1px 2px);
                background-color: #ffffff;
                flex-direction: column;
                position: absolute;
                top: 34px;

                &:hover {
                    display: flex;
                }

                &-link {
                    margin: 8px 0;
                    color: #000000;
                    white-space: nowrap;

                    &:hover {
                        color: #1aab9b;
                    }
                }
            }

            &-link {
                cursor: pointer;
                color: #333;
                font-size: 18px;
                transition: opacity 0.2s ease 0s;
                padding: 20px 0;

                &:hover {
                    color: #1aab9b;
                    opacity: 1 !important;
                }

                &.mobile {
                    font-size: 20px !important;
                    color: #000000 !important;
                }
            }

            &-txt {
                cursor: pointer;
                color: #333;
                font-size: 18px;
                transition: opacity 0.2s ease 0s;
                padding: 20px 0;

                &:hover {
                    opacity: 1 !important;

                    &~.navigation-list-item-menu {
                        display: flex;
                    }
                }
            }

            &-title-mobile {
                &-wrp {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    & svg {
                        transition: transform 0.2s ease 0s;
                    }
                }
            }
        }
    }
}

.currency {
    &-info {
        max-width: 1046px;
        margin: 0 auto;
        padding: 0 20px 0 97px;

        &-wrp {
            margin: 0 0 190px 0;
        }

        &-title {
            color: #333;
            margin: 0 0 19px 0;
            line-height: 42px;
            max-width: 780px;
            font-size: 44px;
        }

        &-subtitle {
            display: block;
            font-size: 21px;
            letter-spacing: 0.3px;
            color: #333;
            line-height: 31px;
            margin: 0 0 31px 0;
        }

        &-additional {
            display: flex;

            &-btn {
                font-weight: 600;
                // 
                white-space: nowrap;
                border-radius: 55px;
                font-size: 19px;
                border-radius: 55px;
                background-color: #1aab9b;
                color: #ffffff;
                padding: 13px 46px;
                transition: all 0.1s ease 0s;

                &:hover {
                    background-color: #10685e;
                }

                &-mask {
                    clip-path: inset(0% 100% 0% 0%);

                }

                &.video {
                    background-color: unset;
                    color: #1aab9b;
                    position: relative;

                    &:hover {
                        color: #10685e;

                        & .currency-info-additional-btn-mask {
                            clip-path: inset(0% 0% 0% 0%);
                        }
                    }

                    & svg {

                        position: absolute;
                        left: 23px;
                        bottom: 0;
                        top: 0;
                        margin: auto;
                        transition: all 0.12s ease-out 0s;
                    }
                }
            }
        }
    }

    &-description {
        background-color: #566976;
        display: flex;
        align-items: center;

        &-wrp {
            display: flex;
            height: 28.74vw;
            max-height: 379px;
            margin: 0 0 132px 0;
        }

        &-item {
            width: 50%;

            &-wrp {
                padding: 0 20px 0 120px;
            }
        }

        &-title {
            max-width: 466px;
            color: #ffffff;
            font-weight: 600;
            font-size: 24px;
            margin: 0 0 13px 0;
        }

        &-img {
            background-image: url(../imgs/currency-description-img.JPG);
            background-position: right;
            background-repeat: no-repeat;
            background-size: cover;

            & img {
                width: 100%;
                height: 100%;
            }
        }

        &-txt {
            max-width: 466px;
            font-size: 20px;
            line-height: 35px;
            color: #ffffff;
        }

    }

    &-features {
        margin: 0 0 143px 0;

        &-list {
            max-width: 890px;
            padding: 0 20px;
            margin: 0 auto;
            list-style-type: none;

            &-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 0 113px 0;

                &:last-child {
                    margin: 0;
                }

                &-info {
                    max-width: 455px;
                    display: flex;
                    flex-direction: column;
                }

                &-title {
                    font-weight: 600;
                    // 
                    font-size: 23px;
                    letter-spacing: 0.3px;
                    color: #333;
                    line-height: 3.3rem;
                    margin: 0 0 17px 0;
                }

                &-subtitle {
                    color: #333;
                    font-size: 19px;
                    line-height: 31px;
                    margin: 0 0 17px 0;
                }

                &-link {
                    color: #1aab9b;
                    font-size: 19px;
                    font-weight: 600;
                    line-height: 23px;
                    letter-spacing: 0.3px;
                    transition: all .1s ease 0s;

                    &:hover {
                        color: #10685e;
                    }
                }

                &-img {
                    max-width: 245px;
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    & img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.content {
    &.ecosystem {
        max-width: 1066px;
        width: 100%;
        padding: 0 12px;
        margin: -62px auto 0 auto;
    }
}

.ecosystem {
    &-title {
        font-size: 43px;
        line-height: 50px;
        margin: 0 0 15px 0;

        &-wrp {
            text-align: center;
            color: #333;
            margin: 0 0 78px 0;
        }
    }

    &-subtitle {
        font-size: 19.5px;
        letter-spacing: 0.4px;
    }

    &-additional {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 77px 0;
        text-align: center;

        &-title {
            font-size: 34px;
            margin: 0 0 9px 0;
            line-height: 3.4rem;
            color: #333;
        }

        &-subtitle {
            font-size: 21px;
            max-width: 592px;
            margin: 0 0 26px;
            color: #000;
            line-height: 27px;
        }

        &-link {
            font-size: 20px;
            letter-spacing: 0.003em;
            color: #333;
            text-decoration: underline;
            transition: all .1s ease 0s;

            &:hover {
                color: #1aab9b;
                text-decoration: none;
            }
        }
    }
}

.maker {
    &-foundation {
        display: flex;
        justify-content: space-between;

        &-wrp {
            margin: 0 0 53px;
        }

        &-title {
            font-size: 26px;
            margin: 0 0 30px 0;
        }

        &-link {
            border-radius: 12px;
            padding: 17px;
            transition: all 0.1s ease 0s;
            display: flex;
            border: 1px solid #dadada;
            max-width: 494px;
            min-height: 116px;
            width: 47vw;
            margin: 0 0 25px;

            &:hover {
                border: 1px solid #1aab9b;
            }

            &-img {
                width: 80px;
                height: 80px;
                border-radius: 12px;
                margin: 0 23px 0 0;
            }

            &-title {
                font-size: 19.5px;
                color: #000000;
                margin: 0 0 5px 0;

                &-wrp {
                    display: flex;
                    flex-direction: column;
                }
            }

            &-subtitle {
                font-size: 16.5px;
                letter-spacing: 0.4px;
                line-height: 1.5;
                color: #5e5e5e;
            }
        }
    }

    &-community {
        &-wrp {
            margin: 0 0 95px 0;
        }

        &-title {
            font-size: 26px;
            margin: 0 0 30px 0;
        }

        &-item {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &-list {
            list-style-type: none;
            display: flex;

            &-item {
                margin: 0 45px 0 0;

                &:last-child {
                    margin: 0;
                }

                & input {
                    display: none;

                    &:checked {
                        &~label {
                            color: #1aab9b;
                        }
                    }
                }

                & label {
                    display: block;
                    white-space: nowrap;
                    line-height: 1.5;
                    font-size: 19px;
                    letter-spacing: 0.3px;
                    color: #999999;
                    cursor: pointer;
                    margin: 0 0 32px;
                }
            }
        }

        &-link {
            color: #5d5d5d;
            font-size: 18px;
            letter-spacing: 0.5px;
        }
    }
}

.community {
    margin: 0 auto;
    max-width: 1100px;
    background-color: rgba(209, 222, 230, 0.14);
    border-radius: 10px;
    padding: 49px 57px;

    &-wrp {
        width: 100%;
    }

    &-title {
        margin: 19px;
        text-align: center;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.4px;
    }

    &-subtitle {
        font-size: 20px;
        line-height: 31px;
        letter-spacing: 0.4px;
        max-width: 640px;
        margin: 0 auto 59px auto;
        text-align: center;
    }

    &-social {
        display: flex;
        justify-content: space-around;

        &-link {
            font-weight: 600;
            // 
            width: 86px;
            height: 93px;
            font-size: 17px;
            line-height: 20px;
            letter-spacing: 0.3px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 16px 15px 17px;
            min-width: 85px;
            border-radius: 8px;
            transition: all 0.1s ease 0s;
            margin: 10px;

            &-img {
                width: 25px;
                height: 25px;
                margin: 0 0 10px 0;
            }

            &:hover {
                background-color: #eff2f4;
            }

            &:nth-child(1) {
                color: #C5362E;
            }

            &:nth-child(2),
            &:nth-child(5) {
                color: #231F20;
            }

            &:nth-child(3),
            &:nth-child(4) {
                color: #4AA1EC;
            }
        }
    }
}

.footer {
    margin: 0px auto;
    max-width: 1140px;

    &-wrp {
        padding: 6rem 2.5rem;
    }

    &-navigation {
        font-size: 15px;
        margin: 0 0 25px 0;
        width: 16vw;
        max-width: 188px;

        &.social-media {
            max-width: 284px;
            width: 100%;
        }

        &-title {
            display: block;
            font-weight: 600;
            margin: 0 0 0.7rem 0;

            &.social-media {
                margin: 0 0 1.5rem 0;
            }
        }

        &-wrp {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &-list {
            line-height: 32px;
            list-style-type: none;
            font-size: 16px;

            & a {
                color: #333333;
                transition: all .1s ease 0s;
                white-space: nowrap;

                &:hover {
                    color: #1aab9b;
                }
            }

            &.social-media {
                display: flex;
                justify-content: space-between;
            }

            &-item {
                &.social-media {
                    & a {
                        & svg {
                            width: 20px;
                            height: 20px;
                            fill: #000000;
                            transition: fill 0.2s ease 0s;

                            &:hover {
                                fill: #1aab9b;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 950px) {
    .currency-description-item-wrp {
        padding: 0 20px;
    }
}

@media (max-width: 831px) {
    .header {
        &-item {
            &.navigation {
                display: none;
            }
        }

        &-mobile-btn {
            display: block;
        }
    }

    .currency {
        &-info {
            padding: 0 20px;
        }

        &-description {
            &-wrp {
                height: 379px;
                margin: 0 0 55px 0;
            }

            &-img {
                background-position: 70%;
            }
        }

        &-features {
            &-list {
                &-item {
                    flex-direction: column-reverse;
                    margin: 0 0 55px 0;

                    &-title,
                    &-subtitle,
                    &-link {
                        text-align: center;
                    }

                    &-img {
                        margin: 0 0 23px 0;
                    }
                }
            }
        }
    }

    .maker {
        &-foundation {
            flex-wrap: wrap;

            &-link {
                max-width: 100%;
                width: 100%;
            }
        }
    }
}

@media (max-width: 720px) {
    .currency {

        &-description {
            &-wrp {
                flex-direction: column;
                max-height: 100%;
                height: 100%;
            }

            &-item {
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 56px 26px;
            }

            &-img {
                height: 293px;
                background-size: 130%;
                background-position: right;
            }
        }
    }


}

@media (max-width: 660px) {
    .maker {
        &-community {
            &-list {
                flex-direction: column;

                &-item {
                    & label {
                        margin: 0 0 7px;
                    }
                }
            }
        }
    }

}


@media (max-width: 640px) {
    // margin-top: 99px;
    // margin-bottom: 52px;

    .header {
        &-wrp {
            margin: 0 0 99px 0;
        }
    }

    .currency {
        &-info {
            &-wrp {
                margin: 0 0 52px 0;
            }
        }
    }

    .footer {
        &-navigation {
            width: 27vw;
        }
    }
}

@media (max-width: 564px) {
    .currency {

        &-description {
            &-img {
                height: 293px;
                background-size: cover;
                background-position: 80%;
            }
        }

        &-features {
            margin: 0 0 80px 0;
        }
    }

    .community {
        padding: 40px 20px;

        &-social {
            flex-wrap: wrap;

            justify-content: center;
        }
    }
}

@media (max-width: 388px) {
    .currency {
        &-info {
            &-title {
                font-size: 33px;
            }

            &-additional {
                flex-direction: column;
            }
        }

        &-description {
            &-item {
                &-wrp {
                    padding: 0;
                }
            }
        }
    }

    .footer {
        &-wrp {
            padding: 6rem 20px;
        }

        &-navigation {
            width: 38vw;
        }
    }
}